table {
  margin: 0 auto;
  width: calc(100% - 100px);
  font-family: "Comic Sans MS", serif;
}

#add-ship {
  margin: 30px 50px 10px;
  color: #00ABCD;
}

.delete {
  color: #ED5C35;
}

.edit {
  color: #958B0A;
}