.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

#navbar {
  z-index: 5000;
}

.navbar-transparent {
    background: #0000 !important;
}
