<div id="main-container">
    <div class="action" [matTooltip]="(gs2.boardsState | async).field === 1 ? 'Útok' : 'Obrana'" (click)="gs2.swapField()">
        <img [ngClass]="{'neviditelny' : (gs2.boardsState | async).field !== 1}"
             src="https://firebasestorage.googleapis.com/v0/b/lode-1835e.appspot.com/o/attack.png?alt=media&token=3f8b4f23-dca7-4f8c-8287-cff9ea276420" alt="protivníkovo pole">
        <img  [ngClass]="{'neviditelny' : (gs2.boardsState | async).field !== 2}"
              src="https://firebasestorage.googleapis.com/v0/b/lode-1835e.appspot.com/o/defenc.png?alt=media&token=033f27b8-6822-456e-aada-5f3daa9289ef" alt="moje pole">
    </div>
    <div class="separator"></div>
    <div *ngFor="let tab of menu.tabs; let i = index" #tabs class="action" [ngClass]="{'active': (gs2.boardsState | async).mode === i + 1}">
        <fa-icon [icon]="tab.icon" size="2x"></fa-icon>
        <div class="events-handler" [matTooltip]="tab.toolTip"></div>
        <app-game-secondary-menu
            *ngIf="isNotNull(tab.doc)"
            [menudoc]="tab.doc"
            [index]="i"
            (click)="secondaryMenuClicked()">
        </app-game-secondary-menu>
    </div>
</div>
<div id="secondary-container" *ngIf="!(rozmisteno | async)">
    <div *ngFor="let lode of ships" class="seznam">
        <app-game-menu-item
            *ngFor="let lod of lode"
            [lod]="lod"
            [rank]="lod.rank">
            {{ lod.name }}
        </app-game-menu-item>
    </div>
</div>
