<div id="chat">
    <div id="messaeges" #chat>
        <div>
            <div>
                <app-chat-message
                    *ngFor="let mess of messages"
                    [ngClass]="{
                        'my-message': mess.own,
                        'oponents-message': !mess.own
                    }">
                    {{ mess.message }} </app-chat-message>
            </div>
        </div>
    </div>
    <div id="inputs">
        <mat-form-field>
            <textarea matInput [(ngModel)]="messageTextBox"  (keypress)="enterSendMessage($event)">

            </textarea>
        </mat-form-field>
        <button mat-mini-fab color="primary" value="">
            <fa-icon [icon]="faComment"></fa-icon>
        </button>
    </div>
</div>
