#chat {
    #messaeges {
        position: relative;
        height: 200px;
        width: 100%;
        overflow: auto;

        div {
            display: table;
            width: 100%;
            div {
                display: table-cell;
                vertical-align: bottom;

                app-chat-message {
                    margin: 20px 10px 20px 15px;
                    display: block;
                    max-width: 300px;
                }
            }
        }
    }

    #inputs {
        border-top: 1px solid #5556;
        padding-right: 50px;
        position: relative;

        mat-form-field {
            width: 100%;
            height: 30px;
            box-sizing: padding-box;
        }

        button {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-40%);
        }
    }
}
