<div id="login-container">
    <!-- Todo add to craditials: https://stmed.net/wallpaper-224361 -->
    <img class="img img-background" src="https://stmed.net/sites/default/files/world-of-warships-hd-wallpapers-33918-130881.jpg" width="" height="" alt="stala se chyba :(" />
    <mat-card id="login" [@hideShow]="loginState">
        <mat-card-header>
            <mat-card-title> Přihlášení </mat-card-title>
        </mat-card-header>
        <mat-form-field>
            <input matInput="" type="email" placeholder="Email"
                   [(ngModel)]="user.email" [disabled]="loginDisabledLeft" [tabindex]="!loginDisabledLeft ? 1 : -1"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput="" type="password" placeholder="Heslo"
                   [(ngModel)]="user.password" [disabled]="loginDisabledLeft" [tabindex]="!loginDisabledLeft ? 2 : -1"/>
        </mat-form-field>

        <mat-grid-list [cols]="3" rowHeight="1:1" id="login-providers">
            <mat-grid-tile>
                <button mat-icon-button="" id="facebook" [tabindex]="!loginDisabledLeft ? 4 : -1"
                        (click)="loginWhitFacebook()" [disabled]="loginDisabledLeft">
                    <fa-icon size="5x" [icon]="['fab', 'facebook']"></fa-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-icon-button="" id="google" [tabindex]="!loginDisabledLeft ? 5 : -1"
                        (click)="loginWhitGoogle()" [disabled]="loginDisabledLeft">
                    <fa-icon size="5x" [icon]="['fab', 'google']"></fa-icon>
                </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <button mat-icon-button="" id="twitter" [tabindex]="!loginDisabledLeft ? 6 : -1"
                        (click)="loginWhitTwitter()" [disabled]="loginDisabledLeft">
                    <fa-icon size="5x" [icon]="['fab', 'twitter']"></fa-icon>
                </button>
            </mat-grid-tile>
        </mat-grid-list>
        <button mat-button="" color="primary" (click)="LoginRegisterToggle(true)" id="nav-register"
                [disabled]="loginDisabledLeft" tabindex="-1">
            Vytvořit nový účet
        </button>
        <button mat-button="" color="primary" class="login-navigation" (click)="LoginResetToggle(true)" id="nav-reset"
                [disabled]="loginDisabledLeft" tabindex="-1">
            Zapomenuté heslo?
        </button>
        <mat-card-actions>
            <button mat-flat-button="" (click)="login()" color="primary" [disabled]="loginDisabledLeft"
                    class="submit" [tabindex]="!loginDisabledLeft ? 3 : -1"> Přihlásit se </button>
        </mat-card-actions>
    </mat-card>

    <mat-card id="register" [@hideShow]="registerState" [formGroup]="RGroup">
        <mat-card-header>
            <mat-card-title> Registrace </mat-card-title>
        </mat-card-header>
        <mat-form-field class="input-half" style="margin-right: 2%">
            <input matInput="" type="email" placeholder="email" formControlName="email" required=""
                   [disabled]="registerDisabled" [tabindex]="!registerDisabled ? 1 : -1"/>
            <mat-error *ngIf="register_emailRequired()">
              Email je <strong>požádován</strong>!
            </mat-error>
            <mat-error *ngIf="register_emailNotValid()">
              <strong>Neplatná</strong> emalová adresa
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input-half" style="margin-left: 2%">
            <input matInput="" type="text" placeholder="přezdívka" formControlName="nick"
                   [disabled]="registerDisabled" [tabindex]="!registerDisabled ? 2 : -1"/>
            <mat-error *ngIf="register_nickLength()">
                nick musí mít alespoň 3 znaky!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput="" type="password" placeholder="heslo" formControlName="password" required=""
                   [disabled]="registerDisabled" [tabindex]="!registerDisabled ? 3 : -1"/>
            <mat-error *ngIf="register_passwordRequired()">
              Heslo je <strong>požadováno</strong>
            </mat-error>
            <mat-error *ngIf="register_passwordLength()">
              Heslo musí mít <strong>alespoň 6 znaků</strong>!
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput="" type="password" placeholder="Heslo ještě jednou" formControlName="rePassword" required=""
                   [disabled]="registerDisabled" [tabindex]="!registerDisabled ? 4 : -1"/>
            <mat-error *ngIf="register_passwordsDontMatch()">
              Hesla se <strong>neshodují</strong>
            </mat-error>
            <mat-error *ngIf="register_rePasswordRequired()">
              Ověření hesla je <strong>požadováno</strong>
            </mat-error>
        </mat-form-field>
        <button mat-button="" color="primary" (click)="LoginRegisterToggle(false)"
                [disabled]="registerDisabled" [tabindex]="!registerDisabled ? 6 : -1">
            Mám již založený účet!
        </button>
        <mat-card-actions>
            <button mat-flat-button="" color="primary" class="submit" (click)="register()"
                    [disabled]="registerDisabled" [tabindex]="!registerDisabled ? 5 : -1">
                Zaregistrovat se
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-card id="reset" [@hideShow]="resetState">
        <mat-card-header>
            <mat-card-title> Obnovení hesla </mat-card-title>
        </mat-card-header>
        <mat-form-field>
            <input matInput="" type="email" placeholder="email" [(ngModel)]="user.resetEmail"
                    [disabled]="resetDiabled" [tabindex]="!resetDiabled ? 1 : -1" />
        </mat-form-field>
        <button mat-button="" color="primary" (click)="LoginResetToggle(false)"
                    [disabled]="resetDiabled" [tabindex]="!resetDiabled ? 3 : -1">
            Znám své heslo
        </button>
        <mat-card-actions>
            <button mat-flat-button="" color="primary" class="submit" (click)="resetPassword()"
                    [disabled]="resetDiabled" [tabindex]="!resetDiabled ? 2 : -1">
                Odeslat email
            </button>
        </mat-card-actions>
    </mat-card>
</div>
