<div
[ngClass]="{
  'ext-container-large': ((isLarge$ | async) || (isWeb$ | async)),
  'ext-container-medium': (isMedium$ | async),
  'ext-container-small': ((isSmall$ | async)),
  'ext-container-handset': ((isHandset$ | async))
  }">
  <span ></span>
  <mat-accordion displayMode="default" [hideToggle]="false">
    <!--login-->

    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
        <mat-expansion-panel-header>Přihlášení</mat-expansion-panel-header>
          <div>
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="user.email"/>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <input matInput placeholder="Heslo" type="password" [(ngModel)]="user.password"/>
            </mat-form-field>
          </div>
          <mat-error *ngIf="loginError">
            Špatné jméno nebo heslo.
          </mat-error>
          <a (click)="setStep(2)"> Reset password </a>
          <div style="margin-top: 8px; width: 200px" *ngIf="(isHandset$ | async) || (isSmall$ | async)">
              <button [ngClass]="{'block': true}" style="background-color: salmon;" mat-raised-button (click)="loginWhitGoogle()"> Přihlásit pomocí google</button>
              <br/>
              <button [ngClass]="{'block': true}" style="background-color: #5696ff;" mat-raised-button (click)="loginWhitFacebook()"> Přihlásit pomocí facebook</button>
          </div>
        <mat-action-row>
            <button [ngStyle]="{'margin-right.px': (isHandset$ | async) ? 5 : 0}" mat-raised-button (click)="setStep(1)" color="secondary">Create new</button>
            <button *ngIf="!(isHandset$ | async) && !(isSmall$ | async)" style="margin: 0 10px; background-color: salmon;" mat-raised-button (click)="loginWhitGoogle()"> Přihlásit přes google</button>
            <button *ngIf="!(isHandset$ | async) && !(isSmall$ | async)" style="margin-right: 10px; background-color: #5696ff;" mat-raised-button (click)="loginWhitFacebook()"> Přihlásit přes facebook</button>
            <button mat-raised-button color="primary" [disabled]="loginButtonClicked" (click)="login()">Login</button>
        </mat-action-row>
    </mat-expansion-panel>
    <!--registrace-->
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
        <mat-expansion-panel-header>Registracion</mat-expansion-panel-header>
            <div [formGroup]="RGroup">
              <mat-form-field>
                <input matInput placeholder="Email" type="email" formControlName="email" required email/>
                <mat-error *ngIf="emailRequired()">
                  Email je <strong>požádován</strong>!
                </mat-error>
                <mat-error *ngIf="emailNotValid()">
                  <strong>Neplatná</strong> emalová adresa
                </mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <input matInput placeholder="Heslo" type="password" formControlName="password" required/>
                <mat-error *ngIf="passwordRequired()">
                  Heslo je <strong>požadováno</strong>
                </mat-error>
                <mat-error *ngIf="passwordLength()">
                  Heslo musí mít <strong>alespoň 6 znaků</strong>!
                </mat-error>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <input matInput placeholder="Ověření hesla" type="password" formControlName="repassword" required/>
                <mat-error *ngIf="passwordsDontMatch()">
                  Hesla se <strong>neshodují</strong>
                </mat-error>
                <mat-error *ngIf="repasswordRequired()">
                  Ověření hesla je <strong>požadováno</strong>
                </mat-error>
              </mat-form-field>
            </div>
        <mat-action-row>
          <button mat-raised-button color="secondary" (click)="setStep(0)">I have account</button>
          <button style="margin-left: 10px" mat-raised-button color="primary" [disabled]="!RGroup.valid" (click)="register()">Register</button>
        </mat-action-row>
    </mat-expansion-panel>
    <!--reset hesla-->
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)">
        <mat-expansion-panel-header>
            <mat-panel-title> Reset password </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="your email here" [(ngModel)]="user.resetEmail" required/>
        </mat-form-field>
        <mat-action-row>
          <button mat-raised-button color="primary" (click)="resetPassword()"> Send email</button>
        </mat-action-row>
    </mat-expansion-panel>
    <!--potvrzení resetu hesla-->
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)">
        <mat-expansion-panel-header>
        <mat-panel-title> Confirm reset password </mat-panel-title>
        </mat-expansion-panel-header>
          <span [formGroup]="RPGroup">
            <mat-form-field>
              <input matInput placeholder="your code here" formControlName="code" required/>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <input matInput placeholder="password" type="password" formControlName="password" required/>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <input matInput placeholder="password again" type="password" formControlName="repassword" required/>
            </mat-form-field>
          </span>
        <mat-action-row>
          <button mat-raised-button color="primary" (click)="confirmReset()" [disabled]="!RPGroup.valid"> Reset </button>
        </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<a style="display: none" routerLink="/profile" #NavigateOut></a>
