.ext-container-large{
  width: 50%;
  margin: 10px auto;
}

.ext-container-medium{
  width: 60%;
  margin: 10px auto;
}

.ext-container-small{
  width: 70%;
  margin: 10px auto;
}

.ext-container-handset{
  width: 97%;
  margin: 10px auto;
}

.block{
  width: 100%;
  margin-bottom: 4px;
}
