<div class="relative-container" *ngIf="loading | async">
    <app-game-menu
        [ngStyle]="{'width': (rozmisteno | async) ? '50px' : '250px', 'left': (rozmisteno | async) ? '-55px' : '-265px'}">
    </app-game-menu>
    <div id="game" *ngIf="(gs2.boardsState | async).field as field">
        <app-oponents-board style="overflow: hidden" *ngIf="field  !== Field.playerField"></app-oponents-board>
        <app-my-board style="overflow: hidden" *ngIf="field !== Field.enemyField"></app-my-board>
    </div>
</div>

