#game-container {
    display: flex;
    flex-direction: row;
    min-height: calc(100% - 64px);

    & > * {
        display: flex;
    }

    #menu {
        width: 50px;
        background: red;
    }

    #board {
        app-board {
            width: 100%;
            background: blue;
        }
    }

    #energie {
        width: 50px;
        background: black;
    }

    #chat {
        flex: 1;
        background: #2BD700;
    }
}
