<div id="container">
  <!-- Todo add to craditials: https://stmed.net/wallpaper-224361 -->
  <img class="img img-background" src="https://stmed.net/sites/default/files/world-of-warships-hd-wallpapers-33918-130881.jpg" width="" height="" alt="stala se chyba :(" />
  <mat-card>
    <mat-card-header>
      <mat-card-title> Potvrdit reset hesla </mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput="" type="text" placeholder="kód" tabindex="1" [(ngModel)]="oobCode"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput="" type="password" placeholder="heslo" tabindex="2"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput="" type="password" placeholder="heslo znovu" tabindex="3"/>
    </mat-form-field>
    <mat-card-actions>
      <app-circle-button text="změnit heslo" fullWidth="true" class="submit">  </app-circle-button>
    </mat-card-actions>
  </mat-card>
</div>
