app-game-menu {
    position: absolute;
    left: -50px;
    height: 100%;
    background: red;
}

app-oponents-board, app-my-board {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.neviditelny {
    display: none;
}

#game {
    position: relative;
    height: inherit;
    background: #0096B3;
}

.relative-container {
    position: relative;
    width: 100%;
    height: inherit;
}
