<div id="board-container" #cont>
    <div #list
         class="content" [style.width.px]="getHeight()">
        <div class="tile"
             *ngFor="let pole of poles; let i = index"
             [style.top.px]="pole.pozice.y * getHeight() / 21"
             [style.left.px]="pole.pozice.x * getHeight() / 21"
             [style.width.px]="getHeight() / 21"
             [style.height.px]="getHeight() / 21"
             [ngClass]="{
                'hover' : pole.state === stavPole.hover && (boardEntered | async),
                'lod': pole.state === stavPole.lod,
                'chyba-pokladani': pole.state === stavPole.chybaPokladani,
                'poskozena-lod':  pole.state === stavPole.poskozenaLod,
                'zasazene-more':  pole.state === stavPole.zasazeneMore,
                'znicena-lod': pole.state === stavPole.znicenaLod
             }">
            <img *ngIf="pole.lod != null"
                 style="z-index: 1000; pointer-events: none; position: absolute; zoom: 90%"
                 [ngStyle]="{
                 'width' : floor(pole.lod.width * getHeight() / 210) * 10 + (pole.lod.smer % 2) * 5 + 2 + 'px',
                 'transform': 'rotate('+ pole.lod.smer * 45 +'deg) translateY(-50%) translateX('+ pole.lod.posun.vert +'px)'}"
                 [src]="pole.lod.imgUrl" alt="aa">
        </div>
    </div>
    <div
        (contextmenu)="poleRightClick()"
        (click)="clicked($event)"
        (mousemove)="hover($event)"
        (mouseleave)="boardLeaveEnter(false)"
        (mouseenter)="boardLeaveEnter(true)"
        class="events-handler" [style.width.px]="getHeight()">
    </div>
</div>
