#board-container {
    position: relative;
    height: 100%;
    display: inline-block;
    text-align: center;

    .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background: #fff5;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .tile {
            position: absolute;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;

            &.lod {
                background: #00B303;
            }

            &.chyba-pokladani {
                background: #922f;
            }

            &.hover {
                background: #fff4;
                z-index: 1001;
            }

            &.chybaPokladani {

            }

            &.poskozenaLod {

            }

            &.zasazeneMore {

            }

            &.znicenaLod {

            }
        }
    }

    .events-handler {
        position: absolute;
        z-index: 1002;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        pointer-events: visible;
    }

    #rozmistovaniMenu {
        position: relative;
        width: 200px;
        height: 100%;
        background: black;
    }
}
