<div id="board-container">
    <div #list
         (click)="clicked($event)"
         class="content" [style.width.px]="getHeight()">
        <div class="tile"
             *ngFor="let pole of (poles.reatatched | async).concat(Hover)"
             [style.top.px]="pole.pozice.y * getHeight() / 21"
             [style.left.px]="pole.pozice.x * getHeight() / 21"
             [style.width.px]="getHeight() / 21"
             [style.height.px]="getHeight() / 21"
             [ngClass]="{
                'hover': pole.state === stavPole.hover,
                'poskozenaLod':  pole.state === stavPole.poskozenaLod,
                'zasazeneMore':  pole.state === stavPole.zasazeneMore,
                'znicenaLod': pole.state === stavPole.znicenaLod
             }">
        </div>
    </div>
    <div (mousemove)="hover($event)" (click)="clicked($event)" (mouseleave)="mouseout()" class="events-handler" [style.width.px]="getHeight()">  </div>
</div>
