<div id="board-container">
    <div #list
         (click)="clicked($event)"
         class="content" [style.width.px]="getHeight()">
        <div class="tile"
             *ngFor="let pole of poles"
             [style.top.px]="pole.pozice.y * 905 / 21"
             [style.left.px]="pole.pozice.x * 905 / 21"
             [style.width.px]="905 / 21"
             [style.height.px]="905 / 21"
             [ngClass]="{
                'hover': pole.state === stavPole.hover,
                'poskozenaLod':  pole.state === stavPole.poskozenaLod,
                'zasazeneMore':  pole.state === stavPole.zasazeneMore,
                'znicenaLod': pole.state === stavPole.znicenaLod
             }">
        </div>
    </div>
    <div (mousemove)="hover($event)" (mouseleave)="mouseout()" class="events-handler" [style.width.px]="getHeight()">  </div>
</div>
